
@{
    ViewBag.Title = "Derby Helpers";
}

<h2>Dreby Helpers</h2>
<br />
<h2 style="color:red">@ViewBag.Label</h2>
<br />
<h3>@ViewBag.Message</h3>
<br />
<a href="~/Images/PWD_Design_RoyalRangers.pdf"> Design RR </a>
