
@{
    ViewBag.Title = "DuplicateDivision";
 }

<h2>Duplicate Division</h2>
<hr />

<h3> There is already a Division with that name. </h3>
<br/>
<div>
    <p class="btn btn-default"> @Html.ActionLink("OK", "AddDivision", "RaceOrganizer")</p>
</div>

