@model RobsDerbyCars.Models.Racer

@{
    ViewBag.Title = "Remove Racer";
}

<h2>Remove Racer</h2>
<hr />
<h3>Are you sure you want to remove  <b>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</b>?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            <p class="btn btn-default"> @Html.ActionLink("Cancel", "Index", "RaceOrganizer")</p>
        </div>
    }
</div>
